<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Adicionar"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Deletar"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedProducts()"
                            [disabled]="
                                !selectedProducts || !selectedProducts.length
                            "
                        ></button>
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table
                #dt
                [value]="revenues"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'name',
                    'company.name',
                    'dueDate',
                    'status'
                ]"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Exibindo {first} à {last} de {totalRecords} entradas"
                [(selection)]="selectedProducts"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h3 class="m-0">Registro de Entradas</h3>
                        <p-calendar
                            [(ngModel)]="monthDate"
                            view="month"
                            dateFormat="MM - yy"
                            [showIcon]="true"
                        ></p-calendar>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Pesquisar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">
                            Nome <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="company.name">
                            Origem
                            <p-sortIcon field="company.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dueDate">
                            Data Vencimento
                            <p-sortIcon field="dueDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="paymentDate">
                            Data Pagamento
                            <p-sortIcon field="paymentDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="value">
                            Valor <p-sortIcon field="value"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-revenue>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="revenue"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Nome</span>
                            {{ revenue.name }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Origem</span>
                            {{ revenue.company.name }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Data Vencimento </span>
                            {{ revenue.dueDate | date: "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Data Pagamento </span>
                            {{ revenue.paymentDate | date: "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Valor</span>
                            {{ revenue.value | currency: "BRL":true:"1.2-2" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Status</span>
                            <span
                                [class]="
                                    'status-badge status-' +
                                    (revenue.status
                                        ? revenue.status.toLowerCase()
                                        : '')
                                "
                                >{{ revenue.status }}</span
                            >
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-help mr-2"
                                    (click)="editProduct(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-clone"
                                    class="p-button-rounded p-button-info mr-2"
                                    (click)="clone(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-check"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="pay(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="productDialog"
            [style]="{ width: '450px' }"
            header="Entrada"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="empresa">Empresa</label>
                    <p-dropdown
                        id="empresa"
                        [options]="companies"
                        optionLabel="name"
                        [(ngModel)]="revenue.company"
                        placeholder="Selecione uma empresa"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !revenue.company
                        }"
                    >
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="revenue && revenue.company">{{
                                revenue.company.name
                            }}</span>
                        </ng-template>
                        <ng-template let-company pTemplate="company">
                            <span>{{ company.name }}</span>
                        </ng-template>
                    </p-dropdown>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !revenue.company"
                        >Empresa é obrigatório.</small
                    >
                </div>

                <div class="field">
                    <label for="name">Nome</label>
                    <input
                        type="text"
                        pInputText
                        id="name"
                        [(ngModel)]="revenue.name"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !revenue.name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !revenue.name"
                        >Nome é obrigatório.</small
                    >
                </div>
                <div class="field">
                    <label for="description">Descrição</label>
                    <textarea
                        id="description"
                        pInputTextarea
                        [(ngModel)]="revenue.description"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="isRecurrent">Recebimento Mensal?</label>
                        <br />
                        <p-inputSwitch
                            id="isRecurrent"
                            [(ngModel)]="revenue.isRecurrent"
                        ></p-inputSwitch>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col" *ngIf="revenue.isRecurrent">
                        <label for="dayOfDue">Vence dia</label>
                        <p-inputNumber
                            [showButtons]="true"
                            id="dayOfDue"
                            [(ngModel)]="revenue.dayOfDue"
                            [min]="1"
                            [max]="31"
                            (onInput)="getDueDate($event)"
                            [ngClass]="{
                                'ng-invalid ng-dirty': submitted && !revenue.dayOfDue && revenue.isRecurrent
                            }"
                        ></p-inputNumber>
                        <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !revenue.dayOfDue && revenue.isRecurrent"
                        >Data de Vencimento é obrigatório.</small
                    >
                    
                    </div>

                    <div class="field col" *ngIf="revenue.isRecurrent">
                        <label for="times">Quantidade de Meses</label>
                        <p-inputNumber
                            [showButtons]="true"
                            id="times"
                            [(ngModel)]="revenue.times"
                            [min]="1"
                            [max]="100"
                            [ngClass]="{
                                'ng-invalid ng-dirty': submitted && !revenue.times && revenue.isRecurrent
                            }"
                        ></p-inputNumber>
                        <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !revenue.times && revenue.isRecurrent"
                        >Data de Vencimento é obrigatório.</small
                    >
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="dueDate">Data de Vencimento</label>
                        <p-calendar
                            id="dueDate"
                            [(ngModel)]="revenue.dueDate"
                            [showIcon]="true"
                            [yearNavigator]="true"
                            appendTo="body"
                            [monthNavigator]="true"
                            dateFormat="dd/mm/yy"
                            [disabled]="isRecurrent()"
                            [ngClass]="{
                                'ng-invalid ng-dirty': submitted && !revenue.dueDate
                            }"
                        ></p-calendar>
                        <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !revenue.dueDate"
                        >Data de Vencimento é obrigatório.</small
                    >
                    </div>
                    <div class="field col">
                        <label for="paymentDate">Data de Recebimento</label>
                        <p-calendar
                            id="paymentDate"
                            [(ngModel)]="revenue.paymentDate"
                            [showIcon]="true"
                            [yearNavigator]="true"
                            appendTo="body"
                            dateFormat="dd/mm/yy"
                            [monthNavigator]="true"
                        ></p-calendar>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="value">Valor</label>
                        <p-inputNumber
                            id="value"
                            [(ngModel)]="revenue.value"
                            mode="currency"
                            currency="BRL"
                            locale="pt-BR"
                            [ngClass]="{
                                'ng-invalid ng-dirty': submitted && !revenue.value
                            }"
                        ></p-inputNumber>
                        <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !revenue.value"
                        >Valor é obrigatório.</small
                    >
                    </div>
                    <div class="field col">
                        <!-- <label for="value">Valor Liquido</label>
                        <p-inputNumber
                            id="value"
                            [(ngModel)]="revenue.value"
                            mode="currency"
                            currency="BRL"
                            locale="pt-BR"
                        ></p-inputNumber> -->
                    </div>
                </div>

                <div class="formgrid grid" *ngIf="editing">
                    <div class="field col">
                        <div class="field-checkbox">
                            <p-checkbox
                                [(ngModel)]="revenue.replyNextMonths"
                                [binary]="true"
                                inputId="binary"
                            ></p-checkbox>
                            <label for="binary">
                                Replicar alteração nos meses seguintes
                            </label>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Salvar"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteProductDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="product"
                    >Are you sure you want to delete <b>{{ product.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteProductDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteProductsDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteProductsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
