<div class="grid">
    <div class="col-12 mt-3" style="padding: 0rem;">
        <div class="card" style="padding-left: 1rem; padding-right: 1rem;">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Adicionar"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Deletar"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedExpenses()"
                            [disabled]="
                                !selectedExpenses || !selectedExpenses.length
                            "
                        ></button>
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table
                #dt
                [value]="expenses"
                [columns]="cols"
                responsiveLayout="stack"
                [rows]="10"
                [globalFilterFields]="[
                    'name',
                    'company.name',
                    'dueDate',
                    'status'
                ]"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Exibindo {first} à {last} de {totalRecords} entradas"
                [(selection)]="selectedExpenses"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h3 class="m-0">Registro de Despesas</h3>
                        <p-calendar
                            [(ngModel)]="monthDate"
                            view="month"
                            dateFormat="MM - yy"
                            [showIcon]="true"
                        ></p-calendar>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Pesquisar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">
                            Nome <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="company.name">
                            Origem
                            <p-sortIcon field="company.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dueDate">
                            Data Vencimento
                            <p-sortIcon field="dueDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="paymentDate">
                            Data Pagamento
                            <p-sortIcon field="paymentDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="value">
                            Valor <p-sortIcon field="value"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expense>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="expense"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Nome</span>
                            {{ expense.name }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Origem</span>
                            {{ expense.company.name }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Data Vencimento </span>
                            {{ expense.dueDate | date: "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Data Pagamento </span>
                            {{ expense.paymentDate | date: "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Valor</span>
                            {{ expense.value | currency: "BRL":true:"1.2-2" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Status</span>
                            <span
                                [class]="
                                    'status-badge status-' +
                                    (getStatus(expense)
                                        ? getStatus(expense).toLowerCase()
                                        : '')
                                "
                                >{{ getStatus(expense) }}</span
                            >
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-help mr-2"
                                    (click)="editExpense(expense)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-clone"
                                    class="p-button-rounded p-button-info mr-2"
                                    (click)="doClone()"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-money-bill"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="payExpense(expense)"
                                    [disabled]="expense.paymentDate"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteExpense(expense)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="expenseDialog"
            [style]="{ width: '450px' }"
            header="Despesa"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="empresa">Fornecedor</label>
                    
                    <p-dropdown
                        id="empresa"
                        [options]="companies"
                        optionLabel="name"
                        [(ngModel)]="expense.company"
                        placeholder="Selecione um fornecedor"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !expense.company
                        }"
                        [autofocus]="true"
                    >
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="expense && expense.company">{{
                                expense.company.name
                            }}</span>
                        </ng-template>
                        <ng-template let-company pTemplate="company">
                            <span>{{ company.name }}</span>
                        </ng-template>
                    </p-dropdown>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !expense.company"
                        >Empresa é obrigatório.</small
                    >
                </div>

                <div class="field">
                    <label for="debit">Conta</label>
                    <p-dropdown
                        id="debit"
                        [options]="debits"
                        optionLabel="name"
                        [(ngModel)]="expense.debit"
                        placeholder="Selecione uma conta"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !expense.debit
                        }"
                    >
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="expense && expense.debit">{{
                                expense.debit.name
                            }}</span>
                        </ng-template>
                        <ng-template let-debit pTemplate="debit">
                            <span>{{ debit.name }}</span>
                        </ng-template>
                    </p-dropdown>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !expense.company"
                        >Empresa é obrigatório.</small
                    >
                </div>
                <div class="field">
                    <label for="bar-code">Código de barras</label>
                    <div class="p-inputgroup">
                        <input
                        type="text"
                        pInputText
                        id="bar-code"
                        [(ngModel)]="expense.barCode"
                        required
                    />
                    <button type="button" pButton pRipple icon="pi pi-copy" styleClass="p-button-warn"></button>      
                    </div>
                    
                </div>
                <div class="field">
                    <label for="description">Descrição</label>
                    <textarea
                        id="description"
                        pInputTextarea
                        [(ngModel)]="expense.description"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                </div>
                <div class="formgrid grid" *ngIf="!editing">
                    <div class="field col">
                        <label for="isRecurrent">Recebimento Mensal?</label>
                        <br />
                        <p-inputSwitch
                            id="isRecurrent"
                            [(ngModel)]="expense.isRecurrent"
                        ></p-inputSwitch>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div
                        class="field col"
                        *ngIf="expense.isRecurrent && !editing"
                    >
                        <label for="dayOfDue">Vence dia</label>
                        <p-inputNumber
                            [showButtons]="true"
                            id="dayOfDue"
                            [(ngModel)]="expense.dayOfDue"
                            [min]="1"
                            [max]="31"
                            (onInput)="getDueDate($event)"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted &&
                                    !expense.dayOfDue &&
                                    expense.isRecurrent
                            }"
                        ></p-inputNumber>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                submitted &&
                                !expense.dayOfDue &&
                                expense.isRecurrent &&
                                !editing
                            "
                            >Data de Vencimento é obrigatório.</small
                        >
                    </div>

                    <div
                        class="field col"
                        *ngIf="expense.isRecurrent && !editing"
                    >
                        <label for="times">Quantidade de Meses</label>
                        <p-inputNumber
                            [showButtons]="true"
                            id="times"
                            [(ngModel)]="expense.times"
                            [min]="1"
                            [max]="100"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted &&
                                    !expense.times &&
                                    expense.isRecurrent
                            }"
                        ></p-inputNumber>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                submitted &&
                                !expense.times &&
                                expense.isRecurrent
                            "
                            >Data de Vencimento é obrigatório.</small
                        >
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="dueDate">Data de Vencimento</label>
                        <p-calendar
                            id="dueDate"
                            [(ngModel)]="expense.dueDate"
                            [showIcon]="true"
                            [yearNavigator]="true"
                            appendTo="body"
                            [monthNavigator]="true"
                            dateFormat="dd/mm/yy"
                            [disabled]="isRecurrent()"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !expense.dueDate
                            }"
                        ></p-calendar>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="submitted && !expense.dueDate"
                            >Data de Vencimento é obrigatório.</small
                        >
                    </div>
                    <div class="field col">
                        <label for="paymentDate">Data de Recebimento</label>
                        <p-calendar
                            id="paymentDate"
                            [(ngModel)]="expense.paymentDate"
                            [showIcon]="true"
                            [yearNavigator]="true"
                            appendTo="body"
                            dateFormat="dd/mm/yy"
                            [monthNavigator]="true"
                        ></p-calendar>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="value">Valor</label>
                        <p-inputNumber
                            id="value"
                            [(ngModel)]="expense.value"
                            mode="currency"
                            currency="BRL"
                            locale="pt-BR"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !expense.value
                            }"
                        ></p-inputNumber>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="submitted && !expense.value"
                            >Valor é obrigatório.</small
                        >
                    </div>
                    <div class="field col">
                        <!-- <label for="value">Valor Liquido</label>
                        <p-inputNumber
                            id="value"
                            [(ngModel)]="expense.value"
                            mode="currency"
                            currency="BRL"
                            locale="pt-BR"
                        ></p-inputNumber> -->
                    </div>
                </div>

                <div class="formgrid grid" *ngIf="editing">
                    <div class="field col">
                        <div class="field-checkbox">
                            <p-checkbox
                                [(ngModel)]="expense.replyNextMonths"
                                [binary]="true"
                                inputId="binary"
                            ></p-checkbox>
                            <label for="binary">
                                Aplicar alteração nos meses seguintes
                            </label>
                        </div>
                        <small
                            *ngIf="expense.replyNextMonths"
                            class="text-orange-600"
                            >Somente os campos "Empresa", "Nome" e "Valor" serão
                            atualizados nos meses seguintes
                        </small>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Salvar"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveExpense()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteExpenseDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="expense"
                    >Tem certeza de que deseja excluir <b>{{ expense.debit?.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Não"
                    (click)="deleteExpenseDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Sim"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="payDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-money-bill mr-3"
                    
                    style="font-size: 3rem"
                    [ngStyle]="{color:'var(--green-400)'}"
                ></i>
                <span *ngIf="expense"
                    >Deseja baixar despesa <b>{{ expense.debit?.name }}</b
                    >?</span
                >
            </div>
            <div class="flex flex-column align-items-center justify-content-center mt-5">
                <label for="dueDate">Selecione uma data de recebimento</label>
                <p-calendar
                    id="dueDate"
                    [(ngModel)]="payDate"
                    [showIcon]="true"
                    [yearNavigator]="true"
                    appendTo="body"
                    [monthNavigator]="true"
                    dateFormat="dd/mm/yy"
                    [showButtonBar]="true"
                    [ngClass]="{
                        'ng-invalid ng-dirty': !payDate
                    }"
                ></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="!payDate"
                    >Data de Recebimento é obrigatório.</small
                >
            </div>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Não"
                    (click)="payDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Sim"
                    (click)="pay(expense)"
                    [disabled]="!payDate"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteExpensesDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span
                    >Tem certeza de que deseja excluir as despesas
                    selecionadas?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Não"
                    (click)="deleteExpensesDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Sim"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
        [(visible)]="cloneDialog"
        header="Confirm"
        [modal]="true"
        [style]="{ width: '450px' }"
    >
        <div class="flex align-items-center justify-content-center">
            <i
                class="pi pi-clone mr-3"
                
                style="font-size: 3rem"
                [ngStyle]="{color:'var(--blue-500 )'}"
            ></i>
            <span *ngIf="expense"
                >Deseja clonar despesa <b>{{ expense.debit?.name }}</b
                >?</span
            >
        </div>
        <div class="flex flex-column align-items-center justify-content-center mt-5">
            <label for="dueDate">Selecione nova data de vencimento</label>
            <p-calendar
                id="dueDate"
                [(ngModel)]="dueDate"
                [showIcon]="true"
                [yearNavigator]="true"
                appendTo="body"
                [monthNavigator]="true"
                dateFormat="dd/mm/yy"
                [showButtonBar]="true"
                [ngClass]="{
                    'ng-invalid ng-dirty': !dueDate
                }"
            ></p-calendar>
            <small class="ng-dirty ng-invalid" *ngIf="!dueDate"
                >Data de Vencimento é obrigatório.</small
            >
        </div>

        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                icon="pi pi-times"
                class="p-button-text"
                label="Não"
                (click)="payDialog = false"
            ></button>
            <button
                pButton
                pRipple
                icon="pi pi-check"
                class="p-button-text"
                label="Sim"
                (click)="clone(expense)"
                [disabled]="!dueDate"
            ></button>
        </ng-template>
    </p-dialog>
    </div>
</div>
